<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>@ViewBag.Title</title>
</head>
<body>
    <heade>
        <h2> Недо магазин</h2>
    </heade>
    <main>
        @RenderBody()

    </main>
    <footer>
        <div>
            <p> Тестовый проект на Asp.Net MVC c использованием Entity Framework </p>
        </div>
    </footer>
</body>
</html>


